click==8.1.3
distlib==0.3.4
filelock==3.6.0
Flask==2.1.2
itsdangerous==2.1.2
numpy==1.22.4
opencv-python==4.6.0.66
Jinja2==3.1.2
MarkupSafe==2.1.1
platformdirs==2.5.1
six==1.16.0
virtualenv==20.13.1
Werkzeug==2.1.2

